.banner {
  display: none;
}

.banner img {
  height: 250px;
  width: 100%;
  border-radius: 7px;
}

@media screen and (min-width: 640px) {
  .banner {
    display: block;
    margin: 10px;
    width: 80%;
  }
}
